@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');


* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Inter', Arial, sans-serif;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  font-family: 'Inter', Arial, sans-serif;
}

@keyframes SlidesDown {
  0% {
    opacity: 0;
    transform: translateY(-50%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

#dynamic-word {
  border-right: 2px solid transparent;
  margin-left: 10px;
  animation: blink-caret 0.75s step-end infinite;
}

#cursor {
  display: inline-block;
  animation: blink 0.75s step-end infinite;
}

@keyframes blink {
  from, to {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

@keyframes rainbow-animation {
  0% {
    background-position: 0% 0%;
  }
  100% {
    background-position: 100% 100%;
  }
}

/* Apply the gradient and animation */
.rainbow-text {
  background: linear-gradient(90deg, #FF0000, #FF7F00, #FFFF00, #00FF00, #0000FF, #4B0082, #9400D3);
  background-size: 200% 200%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: inline;
  animation: rainbow-animation 1s linear infinite;
}

@keyframes rainbow-animation2 {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
















/*Key frames*/

@keyframes particleAnimation {
  0% {
    transform: translate(var(--origin-x), var(--origin-y)) scale(var(--size));
    opacity: var(--alpha);
  }
  100% {
    transform: translate(0, 0) scale(0);
    opacity: 0;
  }
}

.MenuItem:hover {
  background-color: #f1f1f1 ease-in-out;
}

/* Smooth scroll hrefs*/

html {
  scroll-behavior: smooth;
}

.test {
  animation: fadeOut 2s forwards ease-in-out;
  animation-timeline: scroll;
}

@keyframes fadeOut {
  from {
      opacity: 1;
  }

  to {
      opacity: 0;
  }
}

@keyframes fadeIn {
  from {
      opacity: 0;
  }

  to {
      opacity: 1;
  }
}

@keyframes slideUp {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0%);
  }
}

@keyframes slideDown {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0%);
  }
}
