* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

@keyframes particleAnimation {
  0% {
    transform: translate(var(--origin-x), var(--origin-y)) scale(var(--size));
    opacity: var(--alpha);
  }
  100% {
    transform: translate(0, 0) scale(0);
    opacity: 0;
  }
}

.MenuItem:hover {
  background-color: #f1f1f1 ease-in-out;
}

/* Smooth scroll hrefs*/

html {
  scroll-behavior: smooth;
}

.test {
  animation: fadeOut 2s forwards ease-in-out;
  animation-timeline: scroll;
}

@keyframes fadeOut {
  from {
      opacity: 1;
  }

  to {
      opacity: 0;
  }
}

@keyframes fadeIn {
  from {
      opacity: 0;
  }

  to {
      opacity: 1;
  }
}

@keyframes slideUp {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0%);
  }
}

@keyframes slideDown {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0%);
  }
}
